<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="order-success-body">
            <div class="card">
                <div style="border-radius:200px; height:200px; width:200px; background: #0da8e4; margin:0 auto;">
                    <i class="checkmark">✓</i>
                </div>
                <h1>Success</h1>
                <p>Thanks for your order!</p>
                <button routerLink="/products" class="btn btn-info">View Orders</button>
            </div>
        </div>
    </div>
</div>